.card-inner {
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #f0f0f0;
}

.card-inner:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
}

.card-inner button {
    border: 0;
    font-family: inherit;
    background-color: #f543e6;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-inner button:hover {
    background-color: #e14b4b; 
}


.userList-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;     
    justify-content: flex-start; 
    height: auto;            
}

.card {
    width: 320px; 
}
