.overlay {
    backdrop-filter: blur(3px);
    position: fixed; /* Positionni 'flex' o'rniga 'fixed' qilib qo'ying */
    background-color: rgba(51, 51, 51, 0.5);
    width: 100%;
    height: 100vh; /* Bu ekranni to'liq qoplash uchun kerak */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 40px;
}

.modal {
    background-color: #fff;
    padding: 2rem 3rem; /* Paddingni kengaytirdim, yaxshiroq joylashtirish uchun */
    border-radius: 0.5rem;
    text-align: center;
    max-width: 500px; /* Modalning maksimal kengligi */
    width: 100%; /* Modalni ekran bo'ylab kengaytirish */
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70vh;
}

.modal input {
    font-size: 8px; /* Kichikroq shrift o'lchamini qo'llash */
    font-family: inherit;
    padding: 10px; /* Shriftlarni yanada o'qilishi uchun kengroq qilish */
    width: 100%; /* Input maydonining kengligini 100% ga o'rnatish */
    border: 1px solid #ccc; /* Chegarani aniqlash */
    border-radius: 0.25rem; /* Yumshoq burchaklar */
    padding-right: 8px;
}

.modal label span {
    display: block;
    text-align: left;
    /* margin-bottom: 0.5rem; */
}

.gender {
    display: flex;
    gap: 1rem;
}

.gender label {
    display: flex;
    align-items: center;
}

.modal-btn {
    background: #dd42ac;
    color: #fff;
    border: none;
    font-family: inherit;
    padding: 0.75rem 2rem; /* Tugma uchun kengroq joy */
    cursor: pointer;
    font-weight: 500;
    align-self: center;
    margin-top: 2rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease; /* Hover effektini qo'shdim */
}

.modal-btn:hover {
    background: #c93b97; /* Tugma ustiga kursorni olib borganingizda rangni o'zgartirish */
}
