.footer {
    position: fixed; 
    bottom: 0;
    width: 100%; 
    background-color: rgba(153, 153, 153, 0.1);
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    font-size: 1.2rem; 
    color: #333;
  }
  .username {
    font-weight: bold;
    color: #ea478d; 
    font-style: italic; 
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  